
[Unit]
Description={{ rapidpro_archiver_service_name }} service
After=network.target

[Service]
User={{ rapidpro_archiver_system_user }}
Group={{ rapidpro_archiver_system_group }}
Type=simple
ExecStart={{ rapidpro_archiver_active_package_symlink }}/{{ rapidpro_archiver_binary_name }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
EnvironmentFile={{ rapidpro_archiver_active_package_symlink }}/environment
WorkingDirectory={{ rapidpro_archiver_active_package_symlink }}
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
